@import url('./vendor/normalize.css');

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
    color: #333333;
    background-color: #f4f5f7;
}

.appeal {
    min-width: 360px;
    padding: 24px 16px;;
    display: flex;
    justify-content: center;

}

.appeal-block {
    border: 1px solid red;
    width: 100%;
    max-width: 1140px;
    background-color: #ffffff;
    border-radius: 4px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.04);
    padding: 50px;
    box-sizing: border-box;
}